.mensagemContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 10px;
}

.mensagemSuccess {
    background-color: #008000;
    color: #ffffff;
}

.mensagemError {
    background-color: #ff0000;
    color: #ffffff;
}